<mat-toolbar color="primary">
  <span> ngx-touch-keyboard </span>
  <sup>
    <small>v{{ version }}</small>
  </sup>

  <div style="flex: 1 1 auto"></div>

  <button
    mat-icon-button
    [matTooltip]="!isDark ? 'Dark' : 'Light'"
    (click)="toggleScheme()"
  >
    <mat-icon>
      {{ !isDark ? "dark_mode" : "light_mode" }}
    </mat-icon>
  </button>

  <a
    mat-icon-button
    matTooltip="Github"
    href="https://github.com/mohsen77sk/angular-touch-keyboard"
  >
    <img
      src="./assets/icons/github-circle-white-transparent.svg"
      width="24"
      height="24"
    />
  </a>
</mat-toolbar>

<main>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Basic sample</mat-card-title>
    </mat-card-header>
    <mat-card-content>
     
      <span>Open with focus (textarea)</span>
      <div class="native-input">
        <textarea
          ngxTouchKeyboard
          ngxTouchKeyboardFL="ka-GE"
          ngxTouchKeyboardSL="en-US"
          #basicTextareaTouchKeyboard="ngxTouchKeyboard"
          (focus)="basicTextareaTouchKeyboard.openPanel()"
          (blur)="basicTextareaTouchKeyboard.closePanel()"
        ></textarea>
      </div>
    </mat-card-content>
  </mat-card>

  


</main>
